/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */


/* Базовая конструкция */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #000000;
}

:root{
    --main-color: #ED4C5C;
    --main-text-color: #000;
    --header-color: #fff;
    --footer-bg:#fafafa;
}

.container{
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 50px;
}

/* Header */

.header {
    background-image: url(../img/Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 782px;
    background-position: center center;
    color:var(--header-color);
}
/* Navigation */
.nav {
}
.nav__inner {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 165px;
    align-items: center;
}
.logo {
}
.logo-name {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 7px;
}
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav__menu-link {
    text-decoration: none;
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    
}
.button {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.outline-button {
    background: none;
    border: 1px solid var(--header-color);
    color: var(--header-color);
    padding: 12px 31px;
}
.header-title {
}
h1{
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.header-title__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header-p {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.50em;
    max-width: 460px;
    color: #fff;
}

.header-button {
    background-color: #fff;
    padding: 17px 30px;
    color: var(--main-color);
    margin-top: 15px;
}

.button:active{
    transform: scale(88%);
}

.outline-button:active{
    background-color: #fff;
    color: #ED4C5C;
}

.button:hover{
    cursor: pointer;
}


.menu li{
    position: relative;
    padding-bottom: 5px;
    transition: transform 0.2s ease;
}
.nav__menu-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: width 0.2s ease;
}

.nav__menu-link:hover::after {
    width: 60%;
}

.menu li:active{
    transform: scale(90%);
}

/* Video section */

.video{

}
.video__inner {
    display: flex;
    padding: 95px 0 70px;
    gap: 125px;
}
.video-content {
    max-width: 445px;
    margin-top: 30px;
}
h2{
    font-weight: 500;
    font-size: 36px;
}
.video p{
    font-size: 14px;
    line-height: 1.40em;
    text-align: justify;

}

a{
    display: block;
    font-size: 12px;
    color: var(--main-color);
    text-decoration: none;
    letter-spacing: 0.1em;
}
.video-content p{
    margin-top: 45px;
}

video{
    border-radius: 5%;
}

.video-content a{
    margin-top: 20px;
}

/* Overview */

.overview {
    background-color: #fafafa;
}

.overview__inner{
    text-align: center;
    padding-bottom: 124px;
}

.overview__inner h2{
    padding: 63px 0 74px;
}


.overview__flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.overview__item img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.overview__item {
    position: relative;
    z-index: 0;
    padding-top: 157px;
}

.overview__item-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 25px 32px;
    max-width: 301px;
    border-radius: 8px;
}

p{
    font-size: 12px;
    line-height: 1.50em;
    color: #101010;
}
.overview__item-content a{
    font-size: 12px;
    letter-spacing: 0.01em;
}

.tech {
}
.tech__inner {
    text-align: center;
    padding-bottom: 117px;
}

.tech__inner h2{
    padding: 63px 0 73px;
}

.tech__flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.tech__flex-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 226px;
    max-width: 255px;
    padding: 50px 30px 0;
}
.behind-num {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    top: 0;
}

.tech__flex-item h3{
    font-weight: 500;
    font-size: 18px;
    color: #101010;
    margin-top: 8px;
    margin-bottom: 11px;
}

/* Download */

.download {
    background-color: var(--main-color);
}
.download__inner {
    display: flex;
    gap: 120px;
    padding: 94px 0 70px;
}

.download-content{
    max-width: 450px;
}
.download-content h2{
    margin: 25px 0 50px;
}

.download-content h2, .download-content p{
    color: #fff;
}

.download-content p{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.40em;
    text-align: justify;
    color: #fff;
}

.download-icon-box {
    margin-top: 42px;
    display: flex;
    gap: 20px;
}

/* Contact us */

.contact {
}
.contact__inner {
    display: flex;
    gap: 114px;
    justify-content: space-between;
    padding: 159px 0 138px;
}
.contact__content {
    max-width: 434px;
    margin-top: 25px;
    margin-left: 12px;
}

.contact__content p{
    font-size: 14px;
    text-align: justify;
    margin-top: 54px;
}

.contact__inner form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__inner form input{
    border: 1px solid #333;
    border-radius: 6px;
    width: 540px;
    height: 60px;
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
    padding: 20px 30px;
}

.name {
}
.tel {
}
.button {
}
.form-button {
    align-self: start;
    padding: 17px 40px;
    background-color: var(--main-color);
    color: #fff;
}

/* Footer */

.footer {
    background-color: #fafafa;
}
.footer__inner {
    padding: 43px 3px 3px;
    max-width: 178px;
}

.footer__inner h3{
    margin-bottom: 18px;
}

.footer-p {
    margin-bottom: 43px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
}

